/* MAIN CSS FOR APP */
/* Copyright Ben Constable 2017 */

/* Define Body */
html, body {
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}

a {
    cursor: pointer;
}

/* Background */
::selection { 
    background: transparent;
}

/* Alerts */
#alert {
    margin: 0px;
    border-radius: 0px;
}

/* Header */
#header {
    top: 0px;
    margin-bottom: 0px;
}

/* Cue List */
#cue_list_div {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    border-top-width: 2px;
}
#cue_list_div::-webkit-scrollbar {
    width: 1em;
}
 
#cue_list_div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#cue_list_div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 1em;
    outline: 1px solid slategrey;
}
#cue_list {
    width: 100%;
    margin-bottom: 0px;
}

/* Individual Cue */
.cue {
    cursor: pointer;
}

.cue_selected {
    color: black;
}

/* Task Bar */
#taskbar {
    bottom: 0px;
    border-radius: 0px;
    position: fixed;
}
.taskbar {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0px;
}
.fullheight {
    height: 100%;
}
#controls {
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
}
#go {
    font-weight: bold;
    height: 100%;
}
#fade {
    font-weight: bold;
    height: 100%;
    display: none;
}
#seek-slider {
    margin-top: 10px;
    height: 1em;
    border-radius: 0.5em;
}
#seek-slider-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: rgb(0, 127, 255);
    color: white;
    border-radius: 3em;
}
#volume-slider {
    margin-top: 10px;
    height: 1em;
    border-radius: 0.5em;
}
#volume-slider-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: rgb(0, 127, 255);
    color: white;
    border-radius: 3em;
}
#rate-slider {
    margin-top: 10px;
    height: 1em;
    border-radius: 0.5em;
}
#rate-slider-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: rgb(0, 127, 255);
    color: white;
    border-radius: 3em;
}