/* MAIN CSS FOR APP */
/* Copyright Ben Constable 2017 */

/* Define Body */
html, body {
    height: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}

a {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

/* Background */
::selection { 
    background: transparent;
}

/* Alerts */
#alert {
    margin: 0px;
    border-radius: 0px;
}

/* Header */
#header {
    top: 0px;
    position: sticky;
}

.bar {
    width: 100%;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2), 0 2px 9px 1px rgba(0, 0, 0, 0.12);
    z-index: 100;
    padding: 10px;
    height: 5%;
    background-color: #ff8c3e;
    color: #fff;
}

.bar .title {
    position: absolute;
    left: 20px;
    font-weight: 500;
    font-size: 22px;
}
#items {
    position: absolute;
    padding: 5px;
    right: 20px;
}

#items li {
    display: inline;
    margin: 0 0 0 10px;
}

#items li a, #items li a:hover {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

#items li a:hover {
    font-weight: 600;
}

#sub_title {
    font-size: 16px;
}

#locked {
    display: none;
}

#unlock_mod {
    display: none;
}

/* Start Screen */
#start {
    text-align: center;
}

#logo {
    height: 40%;
}

#start .lead {
    color: #ff8c3e;
    font-weight: 500;
    font-size: 22px;
}

.icon {
    color: #ff8c3e;
    font-size: 40px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: grey;
}

/* Cue List */
#cue_list_div {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    border-top-width: 2px;
    display: none;
    margin: 0;
    padding-top: 0px;
}
#cue_list_div::-webkit-scrollbar {
    width: 0.7em;
}
 
#cue_list_div::-webkit-scrollbar-track {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 
#cue_list_div::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #ff8c3e;
    cursor: pointer;
}
#cue_list {
    width: 100%;
    margin-bottom: 0px;
}
#cue_list th {
    color: #ff8c3e;
}
.inline_controls {
    cursor: default;
}
.order {
    cursor: move;
}
.delete {
    cursor: pointer;
}
.target {
    display: none;
}

/* Individual Cue */
.cue {
    cursor: pointer;
}

.cue_selected {
    color: black;
}

#cue_loader {
    display: none;
}

/* Task Bar */
#taskbar {
    display: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0px;
}

.section {
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}

.credit {
    position: absolute;
    right: 20px;
    font-weight: 500;
    padding-top: 5px;
}

#controls {
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
}
.minute {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
.second {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
#go {
    font-weight: bold;
}
#fade {
    font-weight: bold;
    display: none;
}
.label {
    font-weight: 600;
    color: #ff8c3e;
    font-size: 14px;
    padding: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 5px;
    height: 1em;
    border-radius: 0.5em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3em;
    height: 1.4em;
    border-radius: 1.4em; 
    background: #ff8c3e;
    color: #fff;
    cursor: pointer;
}